.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem 4rem;

  @media (max-width: 768px) {
    padding: 1.5rem 1rem;
    gap: 2rem;
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
